# API Configuration
VITE_API_URL=https://dev.pwb.api.antonblyzniuk.com/api/v1/pwbunits/anton/

# Telegram Bot Configuration
VITE_TELEGRAM_BOT_TOKEN=8594918871:AAHYSuPCiZP_Pf19RQJvf3WCa57Ehaug0Xc
VITE_TELEGRAM_CHAT_ID=

# OpenRouter AI Chat Configuration
OPENROUTER_KEYS=
OPENROUTER_MODEL=deepseek/deepseek-chat
OPENROUTER_SITE_URL=http://localhost:3000
OPENROUTER_SITE_NAME=antonblyzniuk.com
